<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/header.ejs %>
    <div class="fake-header"></div>
    <main class="row product-view">
      <div class="row sub-block">
        <h2 class="row" js-dom="title"><%= product.title %></h2>
        <a href="/products/<%= product.id %>" style="display: none;" js-dom="link"></a>
        <div class="row price-wrapper">
          <span class="price" js-dom="price">NT$<%= product.price %></span>
          <% if (product.originalPrice > product.price) { %>
          <strike class="original-price">NT$<%= product.originalPrice %></strike>
          <% } %>
        </div>
        <% if (user) { %>
					<div class="col-9-24">
						<div class="col-1-4 select-wrapper">
							<select name="quantity" dir="rtl" js-dom="select">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<div class="col-3-4">
							<button class="row" type="button" js-dom="confirm-quantity">加入購物車</button>
						</div>
					</div>
        <% } %>
      </div>
      <div class="row sub-block top-border">
        <h3 class="row">商品規格</h3>

        <% for (key in product.spec) { %>
        <div class="row item-group">
          <div class="col-1-6">
            <%= key %>
          </div>
          <div class="col-5-6" js-dom="id">
            <%= product.spec[key] %>
          </div>
        </div>
        <% } %>
      </div>
      <div class="row sub-block top-border">
        <h3 class="row">商品其他資訊</h3>
        <p class="row"><%= product.otherInfo.desc %></p>
        <div class="row" js-dom="img-list">
          <div class="col-1-2 smart-grid-padding">
            <img src="/imgs/<%= product.otherInfo.srcs[0] %>">
          </div>
          <div class="col-1-2 smart-grid-padding">
            <img src="/imgs/<%= product.otherInfo.srcs[1] %>">
          </div>
        </div>
      </div>
    </main>
    <%- include partials/dialog.ejs %>
    <script src="/js/header.js"></script>
    <% if (user) { %>
			<script src="/js/common.js"></script>
			<script src="/js/productView.js"></script>
    <% } %>
  </body>
</html>

